body {
    background: #585d5a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b4ddf1, #559ca9, #125f97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b4ddf1, #559ca9, #125f97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
*{
    font-family: 'Dancing Script', cursive;
    font-family: 'Paytone One', sans-serif;
    font-family: 'Poppins', sans-serif;
    }
.navbar-brand{
    font-family: 'Dancing Script';
    font-size: 32px;

    }

root{
    --bg-color:#fff;
    --text-color:#221314;
    --second-color:#5a7184;
    --main-color:#00d9ff;
    --big-font:6rem;
    --2h-font: 3rem;
    --p-font: 1.1rem;
}

.btn.btn-outline-primary.me-2,
.btn.btn-outline-light.me-2 {
    box-shadow: 5px 10px 25px rgb(85 85 85 /30%);
    border-radius: 4px;
    margin-right: 10px;
    
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
section{
    padding: 80px 18%;

}
.home-text h1{
    font-size: 5.5rem;
    line-height: 1.2em;
    color: #fff;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.jumbotron h2{
    font-size: 3rem;
    line-height: 1.2em;
    color: #585d5a;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.home-text p{
    color: #ffffffbf;
    font-size: 20px;
    font-weight:400;
    line-height: 38px;
    margin-bottom: 50px;
}
.btn.btn-primary.btn-lg{
  justify-content: center;
  margin-top: 15px;
}
  .container1{
    border-radius: 20px;
  }
  #btn2{
    margin-left:900px;
  }
  #p1{
    text-align: right;
  }
  .display-4{
    text-align: center;
  }
  #jumbo1{
    margin-right: 250px;
  }
  #jumbo2{
    margin-left: 250px;
    margin-top: 200px;
  }
  .footer {
    margin-top: 140px;
    color: #fff;
    padding: 10px 0;
  }
  
